ul {
  list-style-type: none;
}

li.navItem:hover {
  color: green;
  cursor: pointer;
  font-weight: bold;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --darkgreen : #1bbc9b;
  /* --darkblue: #d8b3a2; */
  --grey: #c3c3c3;
  --hover:#ffffff;
  --menu: #000;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color:var(--darkgreen);
  overflow-x: hidden;
  padding-top: 100px;
}

.sidenav li {
  padding: 4px 4px 4px 25px;
  text-decoration: none;
  font-size: 14px;
  color:var(--menu);
  display: block;
}

.sidenav li:hover {
  color: var(--hover);
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

hr {
  border-top: 1px solid var(--gray);
  padding-right: 10px;
  margin-right: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}